/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $text:white;
 $link: white;
 $link-invert:hsla(0, 0%, 0%, 0);
//ヘッダー
$navbar-item-hover-color:white;
$navbar-item-hover-background-color:rgba(0, 0, 0, 0.5);

//サイドバー
$menu-label-color: white;

//フッター
$footer-background-color:rgba(0, 0, 0, 0.5);
$footer-padding: 0.5rem 1.5rem;


@import "bulma";
@import "font-awesome";

*{
  margin:0;
  padding: 0;
}
　
html,　body {
  height: 100%;
  width:100%;
}

//背景画像

//PC
@media (min-width: 641px){
  .bg {
    background-image: url("back_pc.jpg");
  }
}
//tablet
@media (max-width: 640px){
  .bg {
    background-image: url("back_sp.jpg");
  }
}

.bg {
  position: sticky;
  padding-bottom: 0;
  top: 0px;
  background-size: cover;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}

//ぼかし
.bg2 {
  background-color: rgba(0, 0, 0, 0.2);
}

//サイドバー
.bg3 {
  background: linear-gradient(to right,rgba(0,0,0,0),15%, rgba(0,0,0,0.4),75%, rgba(0,0,0,0.0));
  position: sticky;
  top: 0px;
}

//ヘッダー
.navbar-item{
  background: radial-gradient(rgba(0,0,0,3),20%, rgba(0,0,0,0));
  color: white;
}

.head{
  position: sticky;
  top: 0px;
}

//フッター

