<p>Hello <%= @resource.email %>!</p>

<p>誰かがあなたのパスワードを変更するためのリンクを要求しました。 以下のリンクからこれを行うことができます。</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>これをリクエストしていない場合は、このメールを無視してください</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
